<!DOCTYPE html> 
<html> 
<head> 
	<title>Dados da Igreja</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<script src="js/lib/jquery/jquery-1.11.1.min.js"></script>
	<script src="js/lib/jquerymobile/jquery.mobile-1.4.5.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/jquery.mobile-1.4.5.min.css" />    
</head> 
<body> 
	<div data-role="page">
	  <div data-role="header" data-position="fixed">
	    <a href="#" class="ui-btn ui-btn-inline ui-icon-back ui-btn-icon-notext ui-corner-all ui-shadow" data-rel="back"></a>
	    <h1>Dados da Igreja</h1>
	  </div>

	  <div data-role="main" class="ui-content">
	    <p>Dados da Igreja.</p>
	  </div>

	  <div data-role="footer" style="text-align:center;" data-position="fixed">
		<img src="../css/images/church_icon.png" class="ui-btn-left" style="max-height: 43px; left: 19.4em;" /><p> Igreja Presbiteriana do Brasil.</p>
	  </div>
	</div>
</body>
</html>
